* {
    box-sizing: border-box;
    margin: 0;
    
}

:root {
    --primary-color: #0A3871;
    --seconday-color: #495057;
    --thirdiary-color: #343A40;
    --background-app: #E5E5E5;
    --white: #fefefe;
}

body {
    background-color: var(--background-app);
    width: 100%;
    min-height: 100vh;
}

.alura_icon {
    margin: 24px 0 24px 0;
    height: 48px;
    width: 32px;
}

main {
    margin: 0 16px 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input_area {
    display: flex;
    flex-direction: column;
}

.input_area_textarea {
    width: 100%;
    min-height: 255px;
    flex-grow: 1;
    flex-shrink: 0;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 24px;
}

.input_area_textarea::placeholder {
    color: var(--primary-color);
}

.input_area_warning {
    margin: 4px 0px;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 0.5rem;
    color: var(--seconday-color);
}

.input_area_buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 12px 0;
}

.input_area_buttons > button {
    width: 100%;
    height: 56px;
    border-radius: 24px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.input_area_buttons > button:nth-child(1) {
    background-color: var(--primary-color);
    color: var(--white);
}

.input_area_buttons > button:nth-child(2) {
    background-color: transparent;
    color: var(--primary-color);
}

/*
*******************************************
*******************************************
*******************************************
                Response Area
*/

.response_area {
    min-height: 186px;
    display: grid;
    margin: 1rem 0;
    padding: 32px;
    background-color: var(--white);
    border-radius: 32px;
    box-shadow: 0px 6px 20px -3px rgba(0,0,0,0.75);
}

.response_area_prev {
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
    align-self: center;
}


.response_area_prev > img {
    display: none;
}

.response_area_prev > h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--thirdiary-color);
}

.response_area_prev > p {
    color: var(--seconday-color);
    font-size: 16px;
}

.response_area_resp {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}

.response_area_resp > p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #495057;
   
}

.response_area_resp > button {
    min-width: 229px;
    max-width: 10029px;
    height: 56px;
    border-radius: 24px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
}
/**
--------
--------
*/

.show {
    display: flex;
}

@media(min-width: 768px) {
    main {
        flex-direction: row;
        min-height: 100vh;
        margin: 0 1.3rem;
    }

    .response_area_prev > img {
        display: block;
    }

    
    .response_area_prev {
        min-width: 200px;
        width: 400px;
        padding: 0;
        margin: 1.5rem 0;
    }

    .response_area_resp {
        min-width: 200px;
        width: 400px;
        padding: 0;
        max-height: 85vh;
    }

    .response_area_resp > p {
        overflow-wrap: break-word;
        overflow-y: scroll;
    }

    
    .input_area {
        flex-grow: 1;
        flex-shrink: 0;
    }
    
    .input_area_warning {
        justify-content: center;
    }

    .input_area_buttons {
        flex-direction: row;
        justify-content: center;
    }

    .input_area_buttons > button {
        min-width: 100px;
        max-width: 328px;
    }
}